<hr />
<p style="text-align: center;">Tool by Seth under MIT licence, enjoy !</p>
<p style="text-align: center;"><a href="https://test.com" target="_blank" rel="noopener">Source code</a> | <a href="https://test2.com" target="_blank" rel="noopener">Bug tracker</a></p>
<p style="text-align: center;"><a href="https://icons8.com/" target="_blank" rel="noopener">Icons by icons8.com <img src="https://img.icons8.com/material-sharp/24/000000/icons8-new-logo.png"/></a></p>
</body>
