<a name="top"></a>

<p style="text-align: center; position: -webkit-sticky; position: sticky; top: 0; background-color: #ffffff;"><a href="#top"><img src="https://img.icons8.com/material-sharp/24/000000/up.png"/> Go to top</a> | <a href="#end"><img src="https://img.icons8.com/material-sharp/24/000000/down.png"/> Go to end</a> | <a href="../root_index_content.html"><img src="https://img.icons8.com/material-sharp/24/000000/down-left.png"/> Go to log list</a> | <a href="./error.html"><img src="https://img.icons8.com/material-sharp/24/000000/broken-robot.png"/> Go to error only</a></p>

<table style="width: 100%;" border="2">
<tbody>
<tr style="text-align: center; position: -webkit-sticky; position: sticky; top: 20; background-color: #ffffff;">

<td><strong>Timestamp</strong></td>
<td><strong>Date</strong></td>
<td><strong>SSM version</strong></td>
<td><strong>Seth's Lib version</strong></td>
<td><strong>Local host name</strong></td>
<td><strong>Site</strong></td>
<td><strong>Address</strong></td>
<td><strong>Resolved server IP</strong></td>
<td><strong>Ping on IP status</strong></td>
<td><strong>Average IP ping time</strong></td>
<td><strong>Ping on address status</strong></td>
<td><strong>Average address ping time</strong></td>
<td><strong>HTTP protocol</strong></td>
<td><strong>HTTP connect status</strong></td>
<td><strong>HTTP code</strong></td>
<td><strong>HTTP local IP</strong></td>
<td><strong>HTTP remote IP</strong></td>
<td><strong>HTTP DNS querry time (s)</strong></td>
<td><strong>HTTP total opperation time (s)</strong></td>
<td><strong>HTTP download size (bytes)</strong></td>
<td><strong>HTTP download speed (bytes/s)</strong></td></tr>

</tbody>
</table><a name="end"></a>
